@model Blip.Web.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>
<script type="text/javascript">
    $(document).ready(function () {
        var user = '@User.Identity.Name';
        $('#messages > tbody > tr').each(function () {
            $(this).find('td').each(function () {
                $(this).click(function () {
                    var messageBody = $($(this).parent().children()[4]).html();
                    $('#messageBody').html(messageBody);
                    $('#messageDialog').dialog();
                });                
                $('.' + user + 'Received').css({
                    "font-weight": "Bold",
                    'color' : 'Green'
                });
                $('.' + user + 'Sent').css({
                    "font-weight": "Bold",
                    'color': 'Red'
                });
            });            
        });        
    });
</script>
<table id="messages" class="table">
    <tr>
        <th>            
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Messages.FirstOrDefault().Title).ToString(), "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Messages.FirstOrDefault().Sender).ToString(), "Index", new { sortOrder = ViewBag.SenderSortParm })
        </th>
        <th>           
            @Html.DisplayNameFor(model => model.Messages.FirstOrDefault().Receivers)
        </th>
        <th>          
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Messages.FirstOrDefault().DateTime).ToString(), "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>          
            @Html.DisplayNameFor(model => model.Messages.FirstOrDefault().Body)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <p class='@String.Concat(item.Sender, "Sent")'>@Html.DisplayFor(modelItem => item.Sender)</p>
            </td>
            <td>
                @foreach (var receiver in item.Receivers)
                {
                    <p class='@String.Concat(receiver, "Received")'>@Html.DisplayFor(modelItem => receiver)</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
    }
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Create Message", "Message", null, new { @class = "btn btn-default" })
    </div>
</div>

<div id="messageDialog" style="display:none">
    <span id="messageBody"></span>
</div>
