@model IEnumerable<Blip.Web.Models.HomeIndexViewModel> 

@{
    ViewBag.Title = "Home Page";
}
<script src="@System.Web.Optimization.Scripts.Url("~/bundles/konami")"></script>
<h2>@ViewBag.Title</h2>
<div id="tablePanel">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receivers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @foreach (var receiver in item.Receivers)
                {
                    @Html.DisplayFor(modelItem => receiver)<br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
    }
</table>
</div>
<div id="konamiCheat" style="display: none;">  
    <button id="showBrs">Show me Bathroom selfie!</button>    
    <button id="showPtf">Show me Pouty Trout Face!</button>   
    <div id="brs" style="display: none;">
        <img src="BathroomSelfie.jpg" alt="Bathroom Selfie Here">
    </div>
    <div id="ptf" style="display: none;">
        <img src="PoutyTroutFace.jpg" alt="Pouty Trout Face Here">
    </div>
</div>