@model HomeMessageViewModel
@{
    ViewBag.Title = "Message";
}

<h2>Send Message</h2>

@using (Html.BeginForm("Message", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="list-group col-md-2">
        <h4>Select Recipients</h4>
        <hr />
        <br />
        @Html.ListBoxFor(m => m.Message.Receivers,
            new MultiSelectList(Model.Receivers, "UserID", "UserName"),
            new { @class="list-group-item" })
        @Html.ValidationMessageFor(m => m.Message.Receivers)
    </div>

    <div class="col-md-10">
        <div class="form-horizontal">
            <h4>Message</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Message.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Message.Title, new { style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Message.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message.Body, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message.Body, 10, 1, new { style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Message.Body)
                </div>
            </div>

            @Html.HiddenFor(model => model.Message.Sender)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="button" value="Cancel" class="btn btn-default" onclick="location.href = 'javascript:history.back()';" />
                </div>
            </div>
        </div>
    </div>
}