<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blip!</title>    
    @Styles.Render("~/bundles/maincss")
</head>
<body>

    @Html.Partial("_LayoutHeader")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blip!</p>
        </footer>
    </div>
    @Html.Partial("_KonamiCheat")
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>